<div class="row">
  <div class="col-sm-12">
  <ng-form name={{formName}}>
    <input name="autoCompleteField" ng-class="{'white-bg':!!value}" class="select-dd"
         type="text" placeholder="{{placeholder}}" ng-keyup="keyboardHandler($event)" ng-model="value"></input>
   </ng-form>
    <div class="white-bg ddContainer" ng-show="showDropDown&&!!value">
    <ul>
      <li ng-class="{'highlight':$index===(scrollCount-1)}" class="optionLi" ng-repeat="option in filteredOptions = (options | filter:typeAheadFilter) track by $index" ng-click="selectOption(option)">{{option}}</li>
    </ul>
  </div>
</div>
</div>
